body {
  background-color: #FDFFFC; }

.role-tab {
  background-color: #011627;
  color: #fff; }

.carousel {
  width: 640px;
  height: 400px;
  background: #ccc;
  margin: 50px auto; }

.carousel-inner,
.carousel-item,
.carousel-item > img {
  width: 100%;
  height: 100%;
  /* this ensures the carousel fills & fits in the box we set up above */
  /*object-fit: contain; /* object-fit: cover might be preferable.
                          Removing object-fit  makes the image stretched/squashed when it
                          doesn't match the carousel's aspect ratio */ }

#games-tab {
  background-color: #5296A5;
  color: #fff; }

.no-point {
  pointer-events: none; }

.games-tab {
  background-color: #5296A5;
  color: #fff; }

.bg-black {
  background: #000;
  color: #fff; }

#hr-small {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #28a745;
  height: 1px; }

#hr-large {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #28a745;
  height: 3px; }

#main-header img {
  width: 100%;
  height: 100%; }

#main-header .port-item {
  width: 30%; }
  #main-header .port-item .fa {
    font-size: 2em; }

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer; }

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important; } }

/*Games Gallery*/

.game-wrapper {
  width: 100%;
  margin: 3px; auto;
}

div.game-gallery {
  margin-top: 30px;
}

div.game-gallery ul {
  list-style-type: none;
  margin-left: 35px;
}

/* game gallery */
div.game-gallery ul li, div.game-gallery li img {
  -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

div.game-gallery ul li {
  position: relative;
  float: left;
  width: 220px;
  height: 220px; 
  margin: 5px; 
  padding: 5px;
  z-index: 0;
}

div.game-gallery ul li img {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #dddddd;
  width: 100%;
  height: 100%;
  background: #f0f0f0;
}

div.game-gallery ul li img:hover {
  width: 103%;
  height: 103%;
  margin: 3%;
  box-shadow: -5px -10px 15px #888888;
}

div.game-gallery ul li:hover {
  z-index: 5;
}