body {
    background-color: #FDFFFC;
}

.role-tab{
    background-color: #011627;
    color:#fff;
}

#game{

}

.the-game{

}

//This handles the sizing for the Carousel
.carousel {
	width: 640px;
	height: 400px;
	background: #ccc;
	margin:  50px auto;

}

.carousel-inner,
.carousel-item,
.carousel-item > img {
	width: 100%;
	height: 100%; /* this ensures the carousel fills & fits in the box we set up above */
	/*object-fit: contain; /* object-fit: cover might be preferable.
                          Removing object-fit  makes the image stretched/squashed when it
                          doesn't match the carousel's aspect ratio */
}

#games-tab{
    background-color: #5296A5;
    color: #fff;
}
.no-point {
  pointer-events: none;
}

.games-tab{
    background-color: #5296A5;
    color: #fff;
}

.bg-black{
  background:#000;
  color:#fff;
}
#hr-small {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:#28a745;
  height: 1px;
}

#hr-large {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:#28a745;
  height: 3px;
}

#main-header{
  img{
    width:100%;
    height:100%;
  }

  .port-item{
    width:30%;
    .fa{
      font-size:2em;
    }
  }

  .port-item:hover{
    opacity:0.8;
    cursor:pointer;
  }
}

@media(min-width:1199px){
  .port-item{
    padding:3em !important;
  }
}

/*=============*/
/*Games Gallery*/
/*=============*/

div.game-gallery {
  /*A wrapper for the game gallery and it's CSS classes.
  Not really necessary, but in the future you might
  need it for positioning or something.*/
}

div.game-gallery ul {
  list-style-type: none;
  margin-left: 35px;
}

div.game-gallery ul li, div.game-gallery li img {
  /*Easing function http://easings.net/#easeInSine */
  -webkit-transition: all 125ms cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 125ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

div.game-gallery ul li {
  position: relative;
  float: left;
  /*Height, width, and spacing of each box*/
  width: 220px;
  height: 220px;
  margin: 4px;
  /*Put's everything on the same z level so that 
  the hover can raise the hovered item to the top*/
  z-index: 0;
}

div.game-gallery ul li img {
  /*For some reason if you don't set the image to the max height 
  and width of it's container, the transition looks weird*/
  width: 100%;
  height: 100%;
  /*A border, because it just looks better with a border*/
  border: 1px solid #000000 /*#dddddd;*/
}

div.game-gallery ul li img:hover {
  /*Slightly increase the box size and add a shadow 
  to give the appearance of rising off the page*/
  width: 103%;
  height: 103%;
  box-shadow: -5px -10px 15px #888888;
  /*Slightly increase the margin which causes 
  a downward and to the right movement*/
  margin: 3%;
  /*A border, because it just looks better with a border.  Still...*/
  border: 1px solid #000000 /*#dddddd;*/
}

div.game-gallery ul li:hover {
  /*Ensures that the hovered over item is always on top*/
  z-index: 69; /*Get it? 69? hahahahaha.*/
}