body {
    background-color: #000;
}

.no-point {
  pointer-events: none;
}

.bg-black{
  background:#000;
  color:#fff;
}
#hr-small {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:#28a745;
  height: 1px;
}

#hr-large {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:#28a745;
  height: 3px;
}

#main-header{
  img{
    width:100%;
    height:100%;
  }

  .port-item{
    width:30%;
    .fa{
      font-size:2em;
    }
  }

  .port-item:hover{
    opacity:0.8;
    cursor:pointer;
  }
}

@media(min-width:1199px){
  .port-item{
    padding:3em !important;
  }
}
